body{
	background-color: pink;
}

.jumbotron{
	background-color: black;
	font-family: 'Audiowide', cursive;
}

#instructions, #wins, #loss{
	color: red;
	font-size: 25px;
	font-family: 'Audiowide', cursive;
}

